<!DOCTYPE html>
<html lang="zh/cn">
<title>challen</title>
<meta charset="utf-8">

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->
<link rel="stylesheet" href="./resume.css">

<body>
<div class="timeline"></div>
<div class="language"></div>

<section class="content introduction">
	<div class="avatar"><img src="./avatar.png"></div>
	<article class="intro_name">蒋伦</article>
	<section class="intro_detail">
		<article class="intro_where">江苏•海安</article>
		<article class="intro_education">汉口学院13级</article>
		<article class="intro_email">联系我: <a href="mailto:fengyiai@gmail.com">fengyiai@gmail.com</a></article>
	</section>
</section>
<section class="content skills">
	<article class="title">我会什么？</article>
	<div class="skill_left">
		<p>HTML5/CSS3/Sass/bootsrap</p>
		<p>javascript/jquery/ES6</p>
		<p>react/react-router/redux/webpack</p>
		<p>nodejs/express/koa/mongodb</p>
		<p>flask/django(python3)/mysql/redis</p>
		<p>linux/git/...</p>
	</div>
	<div class="skill_right">
		<div class="skillBlock"><div class="block_HTML"></div></div>
		<div class="skillBlock"><div class="block_javascript"></div></div>
		<div class="skillBlock"><div class="block_react"></div></div>
		<div class="skillBlock"><div class="block_express"></div></div>
		<div class="skillBlock"><div class="block_flask"></div></div>
		<div class="skillBlock"><div class="block_linux"></div></div>
	</div>
	<div class="skill_bottom">PS: 日常使用linux编码.</div>
</section>
<section class="content projects">
	<article class="title">我做了那些东西？</article>
</section>
<section class="content expectation">
	<article class="title">我和我期待的工作：)</article>
	<section class="expectation_left">
		<p class="expectation_subtitle">自我介绍</p><br>
		<p class="expectation_content">我喜欢探索新技术，进入自己不熟悉的领域或者深入研究某个技术是我的爱好之一。
		期望加入一个乐于探索新技术的团队,对react,react-native，html5播放器,canvas,vue,golang等比较感兴趣，如果有可能希望从事相关工作。接受如游戏开发/数据/爬虫/算法等其他工作，虽然目前我不会，但是我很乐于学习这些，也有一定的自学能力和英文文档书籍的阅读能力，我没有参加过一天培训（说实话是因为没钱,囧 (─.─||||），所有现在会的几乎靠google，github,stackoverflow,CSDN等.所以学的或许并不那么系统。但是探索对我来说是充满趣味的事情，做出一个东西会有想做出一个物理题那样充满成就。此外,拒绝从事PHP,java后端开发。</p>
	</section>
	<section class="expectation_right">
		<p class="expectation_subtitle">期望的职位</p><br>
		<p class="expectation_content">前端开发工程师（或实习生）</p><br>
		<p class="expectation_content">nodejs开发（或实习生）</p><br>
		<p class="expectation_content">golang服务端开发实习生</p><br>
	</section>
</section>
<!-- <script src="./jquery-1.7.2.js"></script> -->
<script src="./resume.js"></script>
</body>
</html>
