<!DOCTYPE html>
<html lang="zh/cn">
<title>challen</title>
<meta charset="utf-8">

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->
<link rel="stylesheet" href="./stylesheets/resume.css">

<body>
<div class="timeline"></div>
<div class="language"></div>

<section class="content introduction">
	<div class="avatar"><img src="./images/avatar.png"></div>
	<article class="intro_name">Hi, I'm Challen.</article>
	<section class="intro_detail">
		<article class="intro_where">Come from Hai'an, Jiansu.</article>
		<article class="intro_education">Graduate from Hankou university.</article>
		<article class="intro_email">Contact me at: <a href="mailto:fengyiai@gmail.com">fengyiai@gmail.com</a></article>
	</section>
</section>
<section class="content skills">
	<article class="title">Skills</article>
	<div class="skill_left">
		<p>HTML5/CSS3/Sass/bootsrap</p>
		<p>javascript/jquery/ES6</p>
		<p>react/react-router/redux/webpack</p>
		<p>nodejs/express/koa/mongodb</p>
		<p>flask/django(python3)/mysql/redis</p>
		<p>linux/git/...</p>
	</div>
	<div class="skill_right">
		<div class="skillBlock"><div class="block_HTML"></div></div>
		<div class="skillBlock"><div class="block_javascript"></div></div>
		<div class="skillBlock"><div class="block_react"></div></div>
		<div class="skillBlock"><div class="block_express"></div></div>
		<div class="skillBlock"><div class="block_flask"></div></div>
		<div class="skillBlock"><div class="block_linux"></div></div>
	</div>
	<div class="skill_bottom">PS: Prefer to coding in linux.</div>
</section>
<section class="content projects">
	<article class="title">Projects</article>
</section>
<section class="content expectation">
	<article class="title">Expectation</article>
	<section class="expectation_left">
		<p class="expectation_subtitle">self introduction</p>
		<p class="expectation_content">Interesting in react and react-native. I hope I can join a team which enjoys exploring new technology.</p>
	</section>
	<section class="expectation_right">
		<p class="expectation_subtitle">expectation</p>
		<p class="expectation_content">frontend developer</p>
		<p class="expectation_content">nodejs developer</p>
	</section>
</section>
<!-- <script src="./javascripts/jquery-1.7.2.js"></script> -->
<script src="./javascripts/resume.js"></script>
</body>
</html>
